{% extends "base.html" %}
{% block content %}


    <h1>Hae reseptejä</h1>

    <form class="form-inline">
         
        <p>Voit hakea reseptejä nimen, raaka-aineen tai luokan perusteella</p>
         
        <!-- reseptien hakukenttä -->
        <div class="form-group">
            <input type="text" value="Hae reseptejä">
        </div>
      
        <div class="form-group">
            <button class="btn btn-primary" name="search" type="button">Hae</button>
        </div>
        
    </form>
    
    <form>

        <!-- taulu haetuille resepteille -->
        <div class="form-group">
        <table class="table">
                <caption>Hakutulokset</caption>
                <tbody>
                    <tr><td>Resepti1</td></tr>         
                    <tr><td>Resepti2</td></tr>         
                    <tr><td>Resepti3</td></tr>         
                    <tr><td>Resepti4</td></tr>         
                    <tr><td>Resepti5</td></tr>         
                </tbody>
            </table> 
        </div>
    </form>

        
{% endblock %}    