{% extends "base.html" %}
{% block content %}


<h1>Käyttäjän {{user.name}} Keittokirja</h1>


<!-- taulu käyttäjän suosikkiresepteille -->
<div class="form-group">
    <table class="table">
        <caption>Omat suosikit</caption>
        <tbody>
            {% for favoriteRecipe in favoriteRecipes %}
            <tr><td><a href="{{base_path}}/recipe/{{favoriteRecipe.recipe_id}}">{{favoriteRecipe.name}}</a></td></tr>
            {% endfor %}
        </tbody>
    </table> 
</div>

<!-- taulu käyttäjän itse lisäämille resepteille -->
<div class="form-group">
    <table class="table">
        <caption>Omat reseptit</caption>
        <tbody>
            {% for userRecipe in userRecipes %}
            <tr><td><a href="{{base_path}}/recipe/{{userRecipe.id}}">{{userRecipe.name}}</a></td></tr>
            {% endfor %}          
        </tbody>
    </table> 
</div> 

{% endblock %}        

