{% extends "base.html" %}
{% block content %}

<h1>Muokkaa reseptiä</h1>

{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<form method="post" action="{{base_path}}/recipe/{{attributes.id}}/edit"> 

    <!-- Kenttä reseptin nimelle -->
    <div class="form-group">
        <label>Reseptin nimi</label> 
        <input type="text" name="name" class="form-control" value="{{attributes.name}}">
    </div>

    <!-- taulu reseptin raaka-aineille -->
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Raaka-aineet</th>
                    <th></th>
                    <th></th>
                    <th>Merkitse poistettavat</th>
                </tr>
            </thead>

            <tbody>
                {% for ingredientOfARecipe in ingredientsOfARecipe %}
                <tr>
                    <td>{{ingredientOfARecipe.amount}}</td>
                    <td>{{ingredientOfARecipe.unit_name}}</td>
                    <td>{{ingredientOfARecipe.ingredient_name}}</td>
                    <td><input type="checkbox" name="delete_ingredients[]" value="{{ingredientOfARecipe.id}}"></td>
                </tr>     
                {% endfor %}
            </tbody>
        </table> 
    </div> 

    {% for i in 0..9 %}
    <div class="form-inline">
        <!-- Hakukenttä raaka-aineelle -->
        <label>Raaka-aine</label>
        <select class="form-control" name="ingredients[]">
            <option value="-1">(tyhjä)</option>
            {% for ingredient in ingredients %} 
            <option value="{{ingredient.id}}">{{ingredient.name}}</option>
            {% endfor %} 
        </select>

        <!-- Raaka-aineen määrä -->
        <label>Määrä</label>
        <input type="number" step="any" min="0" name="amounts[]" class="form-control" value="0">

        <!-- Raaka-aineen yksikkö -->
        <label>Yksikkö</label>
        <select class="form-control" name="units[]">
            {% for unit in units %} 
            <option value="{{unit.id}}">{{unit.name}}</option>
            {% endfor %} 
        </select>
    </div>   
    {% endfor %}

    <!-- Tekstikenttä valmistusohjeelle -->
    <div class="form-group">
        <label class="control-label " for="instructions">Valmistusohje</label>
        <textarea class="form-control" 
                  name="instructions" rows="5">{{attributes.instructions}}</textarea>
    </div>


    <!-- taulu reseptin tageille -->
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Luokat</th>
                    <th>Merkitse poistettavat</th>
                </tr>
            </thead>
            <tbody>
                {% for tagOfARecipe in tagsOfARecipe %}
                <tr>
                    <td>{{tagOfARecipe.tag_name}}</td>
                    <td><input type="checkbox" name="delete_tags[]" value="{{tagOfARecipe.id}}"></td>
                </tr>         
                {% endfor %}
            </tbody>
        </table> 
    </div>  

    <!-- Luokka-tagien hakukenttä -->
    <div class="form-group">
        <label>Valitse luokka (voit valita useamman pitämällä ctrl-painiketta pohjassa)</label>
        <select class="form-control" name="tags[]" multiple="">
            {% for tag in tags %} 
            <option value="{{tag.id}}">{{tag.name}}</option>
            {% endfor %} 
        </select>
    </div>

    <!-- Tallenna muutokset -nappi -->
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna muutokset</button>
    </div>        
</form>

{% endblock %}