{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

<h1>{{recipe.name}}</h1>


<!-- taulu reseptin raaka-aineille -->
<div class="container">
    <table class="table">
        <caption>Raaka-aineet</caption>

        <tbody>
            {% for ingredientOfARecipe in ingredientsOfARecipe %}
            <tr>
                <td>{{ingredientOfARecipe.amount}}</td>
                <td>{{ingredientOfARecipe.unit_name}}</td>
                <td>{{ingredientOfARecipe.ingredient_name}}</td>
            </tr>     
            {% endfor %}
        </tbody>
    </table> 
</div>  

<!-- Valmistusohjeet -->
<div class="form-group">

    <label>Valmistusohjeet</label>


    <p>{{recipe.instructions}}</p>

</div>

<!-- taulu reseptin tageille -->
<div class="container">
    <table class="table">
        <caption>Luokat</caption>

        <tbody>
            {% for tagOfARecipe in tagsOfARecipe %}
            <tr><td>{{tagOfARecipe.tag_name}}</td></tr>         
            {% endfor %}
        </tbody>
    </table> 
</div>  

<div class="form-group">
{% if user_logged_in and isFavorite %}
    <!-- Poista suosikeista -nappi -->
    <form method="post" action="{{base_path}}/recipe/{{recipe.id}}/removeFavorite">
        <button type="submit" class="btn btn-primary">Poista suosikeista</button>
    </form>     
{% elseif user_logged_in and not isFavorite %}   
    <!-- Lisää suosikiksi -nappi -->
    <form method="post" action="{{base_path}}/recipe/{{recipe.id}}/addFavorite">
        <button type="submit" class="btn btn-primary">Lisää suosikiksi</button>
    </form>    
{% endif %}
</div>

{% if recipe.customer_id is not null and user_logged_in.id == recipe.customer_id %}
<div class="form-group">
    <!-- Muokkaa reseptiä -nappi -->
    <a class="btn btn-primary" href="{{base_path}}/recipe/{{recipe.id}}/edit">Muokkaa reseptiä</a>

    <!-- Poista resepti -nappi -->
    {{forms.destroy_button("#{base_path}/recipe/#{recipe.id}/destroy")}}
</div>
{% endif %}

{% endblock %}  